---
import '../styles/nav.css'
---

<nav>
    <ul>
        <li><a href="#sobre-mi">Sobre mí</a></li>
        <li><a href="#mis-proyectos">Mis proyectos</a></li>
        <li><a href="#contactame">Contáctame</a></li>
    </ul>
</nav>